/node_modules
/vendor

.env
.env.*

/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

/public/storage

/.idea
/.vscode

npm-debug.log
yarn-error.log

*.sqlite*
